body{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, black,white);
}
.main{
    display: flex;
    justify-content: center;
}

.tarjeta{
    width: 450px;
    height:550px;
    border: 2px solid black;
    background: white;
}

.portada{
    width: 450px;
    height: 200px;
}
.avatar{
    border-radius: 100%;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 625px;
    top: 110px;
}
.texto{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
}

.boton-contenedor {
    text-align: center;
    margin-top: 20px;
}
.boton-seguir {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}
.boton-seguir:hover {
    background-color: #0056b3;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.icono{
    width: 40px;
}
.vinculo{
    margin: 5px;
}